/* Start Component*/

/* End Component*/

/* Start Glable Rules */

ul {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  /* background: #dfdfdf !important; */
  margin: 0;
  background-color: #eee;
  position: relative;
}
/* 
.myswiper{
  text-align: center;
  display: flex;
  position: absolute;
  gap: 1rem;
 
  width: 100%;
  left: 50%;
  transform: translate(-50%,-50%);
  top: 50%;

} */

/* .swiper-wrapper{
  text-align: center;
  display: flex;
} */
a {
  color: inherit;
  text-decoration: none;
}

/* body{
  margin: 0;
  padding:0
} */

/* Start Variables */

button:active {
  outline: none;
}

button:focus {
  outline: none;
}

.courseImage:hover {
  transform: scale(1.02);
}
.courseImage:hover .editIconForCourseImage {
  opacity: 1;
  background-color: rgb(0 0 0 / 31%);
  box-shadow: inset 0 0 20px 14px #272626ab;
}

.courseImage {
  transition: 0.3s;
  cursor: pointer;
  position: relative;
}

.editIconForCourseImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.3s;
  color: #ddd;
  z-index: 100;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;

  align-items: center;
}

.MuiFormLabel-root {
  z-index: 0 !important;
}
